
@{
    ViewBag.Title = "YeniSinav";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>


    <form class="form-group" method="post">
        <div>
            <label>Öğrenci ID</label>
            <input type="text" name="OGRID" class="form-control" />
        </div>

        <div style="margin-top:10px">
            <label>Ders Adı</label>
            <input type="text" name="DERSID" class="form-control" />
        </div>

        <div style="margin-top:10px">
            <label>Sınav 1</label>
            <input type="text" name="SINAV1" class="form-control" />
        </div>

        <div style="margin-top:10px">
            <label>Sınav 2</label>
            <input type="text" name="SINAV2" class="form-control" />
        </div>

        <div style="margin-top:10px">
            <label>Sınav 3</label>
            <input type="text" name="SINAV3" class="form-control" />
        </div>

        <div style="margin-top:10px">
            <label>Proje</label>
            <input type="text" name="PROJE" class="form-control" />
        </div>
        <div style="margin-top:10px">
            <label>Ortalama</label>
            <input type="text" name="ORTALAMA" class="form-control" />
        </div>

        <div style="margin-top:10px">
            <label>Durum</label>
            <input type="text" name="DURUM" class="form-control" />
        </div>

        <div style="margin-top:10px">
            <button class="btn btn-primary">Sınav Ekle </button>
        </div>

    </form>
</div>


